.front-intro {
    width: 80%;
    height: 100vh;
    position: relative;
    background-color: $gray;

    .front-intro-text {
        margin: 10%;
    }
    
    img {
        height: 80%;
        position: absolute;
        top: 10vh;
    }
}

.hi {
    height: 200vh;
}