.each-project {
    width: calc(100vw - 200px);
    height: 100vh;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    
    @media (max-width: $mq-mobile) {
        flex-direction: column;
        width: calc(100vw - 40px);
        padding: 0 20px;
        height: 125vh;
    }

    div {
        max-width: 500px;
        @media (max-width: $mq-mobile) {
            max-width: 300px;
        }
        h2 {
            font-size: 42px;
            color: $pink;
            margin-bottom: 20px;
            @media (max-width: $mq-ipad) {
                font-size: 32px;
            }
            @media (max-width: $mq-mobile) {
                margin-top: 90px;
            }
        }
        p {
            margin-bottom: 20px;
        }
    }

    img {
        height: 80%;
        @media (max-width: $mq-ipad) {
            height: 50%;
        }
        @media (max-width: $mq-mobile) {
            height: 45%;
            margin-top: 20px;
        }
    }
}