@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

$mq-ipad: 770px;
$mq-mobile: 760px;

$white: #FFFFFF;
$black: #333333;
$gray: #F5F5F5;
$pink: #E91E63;

$cinzel: 'Cinzel', serif;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;

* {
    margin: 0;
    padding: 0;
}

h2,h3,h4 {
    font-family: $montserrat;
    font-weight: $font-regular;
    text-transform: uppercase;
}
h1 {
    font-family: $cinzel;
    font-size: 13px;
}
.h2 {
    margin-left: 10%;
}
li {
    font-family: $roboto;
}
a {
    font-family: $montserrat;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
}
p {
    font-family: $roboto;
    font-weight: $font-light;
    line-height: 26px;
}
span {
    color: $pink;
}

.projects-page {
    width: 100vw;
    height: 75vh;
    background-color: $gray;
    position: fixed;
    opacity: 0;
}